
<nav class="navbar">
  <div class="container-fluid">
    <pre class="navbar-brand">Opciones</pre>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active"
            aria-current="page"
            routerLink="sentimientos"
            routerLinkActive="active"
            href="#"
            >Nuestros momentos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active"
            aria-current="page"
            routerLink="sentimientos"
            routerLinkActive="active"
            href="sentimientos"
            >Lo que siento por vos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
