@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Lovers+Quarrel');
@import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn:wght@400;600;700&display=swap" rel="stylesheet');


html, body {
  margin: 0;
  height: 100%;
  background-color: #FFD1D4;
}
