@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Lovers+Quarrel');
@import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&family=Fredericka+the+Great&display=swap');

html, body {
  margin: 0;
  height: 100%;
  background-color: #FFD1D4;
}
