<div class="page-wrapper">
  <app-navbar></app-navbar>

  <div class="background-kanji">愛</div>


    <div class="page-content">
      <canvas #starsCanvas class="stars-canvas"></canvas>

    <div class="titulo">
      <p class="text1">
        No siempre soy lo mejor para vos,<br><br>
        he dicho cosas solo para defenderme porque solo me importaba ganar
        y no quiero prometerte cosas sin sentido ni hacerte creer que todo va a ser facil<br><br>
        pero es enserio cuando te hago una promesa es para demostrarte que voy enserio <br><br>
        cuando pienso en mi futuro lo unico que me imagino es teniendote a mi lado
        con todo lo dificil que pueda llegar a ser...<br><br>
        eres el lugar donde me gusta vivir<br><br>
        no se si el amor realmente cambia pero se que el mio aprendio mucho de vos y me gusta.<br><br>
        fallamos, lo intentamos y volvemos a empezar las veces que sean necesarias<br><br>
        por vos estoy dispuesto a cambiar lo que sea necesario y esto es dificil de decirlo para mi sin llorar
        pero realmente te amo y realmente quiero ser una mejor persona para vos
      </p>
    </div>
  </div>
</div>
