<div class="page-wrapper">
  <app-navbar></app-navbar>

  <div class="background-kanji">愛</div>


    <div class="page-content">
      <canvas #starsCanvas class="stars-canvas"></canvas>

    <div class="titulo">
      <p class="text1">
        No siempre estoy bien<br><br>
        he dicho cosas solo para defenderme porque solo me importaba ganar
        y no quiero prometerte cosas sin sentido ni hacerte creer que todo va a ser facil<br><br>
        pero es enserio cuando te hago una promesa es para demostrarte que voy enserio <br><br>
        cuando pienso en mi futuro lo unico que me imagino es teniendote a mi lado
        con todo lo dificil que pueda llegar a ser...<br><br>
        eres el lugar donde me gusta vivir<br><br>
        no se si el amor realmente cambia pero se que el mio aprendio mucho de vos no aprendi en como  te amo, aprendi en como demostrar ese amor, siempre eh sentido que te amado con todo mi ser y eso te lo prometo que es asi la forma no fue la correcta pero estoy en el momento de cambiar y amarte como siempre debi hacerlo<br><br>
        fallamos, lo intentamos y volvemos a empezar las veces que sean necesarias<br><br>
        por vos estoy dispuesto a cambiar lo que sea necesario y esto es dificil de decirlo para mi sin llorar
        pero realmente te amo y realmente quiero ser una mejor persona para vos
      </p>
    </div>

    <p class="text1">Lo ultimo que quiero en esta vida es perderte amor mio</p>


    <p class="text1">sos un show de bellez la mujer mas hermosa que vi en vida de verdad <br> (un recordatorio de lo hermosa que te ves sacado de tu ig :))</p>



    <div class="cards-container">
      @for (item of items(); track item.id) {
        @if (item.type === 'card') {
          <div class="card">
            <img
              class="card__img"
              [src]="item.images[0]"
              alt="foto"
              loading="lazy"
            />
          </div>
        }
      }
    </div>
    <p class="text1"> es una locura lo hermosa que sos</p>
    <p class="text1">pero mas locura es la persona que sos nunca vi a alguien tan buena, amable, noble, compañera, sensible, complensible como vos.</p>
    <p class="text1">y si aunque no lo creas todas esas palabras me salieron en 3 segundo de pensar el tipo de persona, una persona increible</p>
    <p class="text1">TE AMO</p>
    <p class="text1">Espero me puedas aceptar como soy :(</p>
    <p class="text1">Espero que me puedas amar :(</p>
    <p class="text1">Te extraño mucho mi amor :(</p>

    <!-- aqui comienza anillo -->
     <p class="text1">A donde quiero llegar con vos?</p>
     <p class="text1">quiero que podamos...</p>
<div class="proposal-wrapper">
  <div class="ring-touch" (click)="onRingTap()">
    💍
  </div>

  @if (showProposal) {
    <div class="proposal-overlay" (click)="closeProposal()">
      <div class="proposal-box" (click)="$event.stopPropagation()">
        <h1>¿Querés casarte conmigo?</h1>
        <p>Prometo que vas a ser mi compañera en cada momento</p>
        <button (click)="accept()">Sí 💖</button>
      </div>
    </div>
  }

  <div class="floating-hearts">
  @for (heart of floatingHearts(); track heart.id) {
    <span
      class="heart-float"
      [style.left.%]="heart.x"
      [style.animationDuration.ms]="heart.duration"
    >
      ❤️
    </span>
  }
</div>

</div>




  </div>
</div>
