<div class="page-wrapper">
  <app-navbar></app-navbar>

  <div class="background-kanji">愛</div>


    <div class="page-content">
      <canvas #starsCanvas class="stars-canvas"></canvas>

    <!-- <div class="titulo">
      <p class="text1">
        No siempre estoy bien<br><br>
        he dicho cosas solo para defenderme porque solo me importaba ganar
        y no quiero prometerte cosas sin sentido ni hacerte creer que todo va a ser facil<br><br>
        pero es enserio cuando te hago una promesa es para demostrarte que voy enserio <br><br>
        cuando pienso en mi futuro lo unico que me imagino es teniendote a mi lado
        con todo lo dificil que pueda llegar a ser...<br><br>
        eres el lugar donde me gusta vivir<br><br>
        no se si el amor realmente cambia pero se que el mio aprendio mucho de vos no aprendi en como  te amo, aprendi en como demostrar ese amor, siempre eh sentido que te amado con todo mi ser y eso te lo prometo que es asi la forma no fue la correcta pero estoy en el momento de cambiar y amarte como siempre debi hacerlo<br><br>
        fallamos, lo intentamos y volvemos a empezar las veces que sean necesarias<br><br>
        por vos estoy dispuesto a cambiar lo que sea necesario y esto es dificil de decirlo para mi sin llorar
        pero realmente te amo y realmente quiero ser una mejor persona para vos
      </p>
    </div> -->

    <p class="text1">Lo ultimo que quiero en esta vida es perderte amor mio</p>

<!--
    <p class="text1">sos un show de bellez la mujer mas hermosa que vi en vida de verdad <br> (un recordatorio de lo hermosa que te ves sacado de tu ig :))</p>
 -->


    <!-- <div class="cards-container">
      @for (item of items(); track item.id) {
        @if (item.type === 'card') {
          <div class="card">
            <img
              class="card__img"
              [src]="item.images[0]"
              alt="foto"
              loading="lazy"
            />
          </div>
        }
      }
    </div> -->
    <!-- <p class="text1"> es una locura lo hermosa que sos</p>
    <p class="text1">pero mas locura es la persona que sos nunca vi a alguien tan buena, amable, noble, compañera, sensible, complensible como vos.</p>
    <p class="text1">y si aunque no lo creas todas esas palabras me salieron en 3 segundo de pensar el tipo de persona, una persona increible</p>
    <p class="text1">TE AMO</p>
    <p class="text1">Espero me puedas aceptar como soy :(</p>
    <p class="text1">Espero que me puedas amar :(</p>
    <p class="text1">Te extraño mucho mi amor :(</p> -->
    <p class="text1">______________________________________________________________</p>


    <!-- aqui comienza anillo -->


    <p class="text1">Los anillos los tenia pensando para hacerte una propuesta de matrimonio no oficial pero para confimar nuestro amor jaja hasta que llegue el momento de que de verdad nos casemos</p>
        <p class="text1">me siento un tonto con las cosas que pienso la verdad, pero me parecio que era algo bonito, algo lindo, no se o al menos para mi lo era <br>por eso deje toda esta parte lista para decirtelo el 16 que me parecia un buen momento pero no creo que me anime a decirtelo con todo esto que estamos viviendo</p>

    <p class="text1"><br><br>Me dan muchas ganas de preguntarte si esto esta funcionando, si de verdad esta solucionando algo, yo la estoy pasando mal, tengo ganas de mandarte mensajes todo el tiempo, de que hablemos, de decirte que esto me esta haciendo re mal, te vengo soñando todas las noches y siempre sueño que vos te acostas arriba mio y me largo a llorar, no vengo durmiendo nada y cada vez que tengo una notificacion de mensaje siempre espero que seas vos te extraño mucho en algunos de estos dias te voy a decir si sentis que realmente esta funcionando el tiempo</p>

    <p class="text1">yo escribo esto aca porque es un lugar donde me puedo desahogar sin llenarte de mensajes el chat, quiero que me extrañes y me ames no quiero seguir haciendote enojar mas pero bueno trato de no sufrirte tanto spoiler lloro todo el tiempo pero segun yo voy mejorando, tengo mis inseguridades que me da miedo decirte, me dio pena contarte mi pasado, no se siento que no soy lo suficientemente fuerte pero me gusto que me escucharas en ese momento ahora me quede sin nadie con quien hablar es una pelea contra mi cabeza que de momento voy ganando vere en los proximos 4 meses jajaja ay dios que hago escribiendo esto aca <br><br>en fin no se si vas a ver esto en algun momento pero que sepas que te amo enserio y mucho, espero que el tiempo nos cuido bien a los dos y que todo salga bien, te amo</p>
    <p class="text1"><br><br> tenia muchos planes para que hagamos durante tu semana de vacaciones, pero todo quedo en nada, me siento mal porque siento que te arruine las vacaciones nomas, vos mereces ser feliz y yo me quiero esforzar para ser la persona que te haga feliz, yo solo espero que estes bien, yo te voy a seguir amando eso seguro </p>
    <p class="text1"><br><br>
      Feliz 16 de este mes de enero <br>
      te amo mucho no puedo dejar de extrañarte ni de pensarte <br>
      te extraño y te amo tanto mi amor

      <br><br>
      al final estoy usando esto como un foro para decirte cosas jajaja<br>
      te queria decir que me habia descargado una app el jueves antes que te vayas con pablo
      pero no me anime a decirtelo el viernes porque no se me da cosa decirte algunas cosas, es
      un app para parejas teoricamente por si te la queres descargar se llama couple joy
      el tema es que nos tenemos que pasar un codigo que se reinicia cada 1 hora entonces debemo estar en contacto para
      pasarnos el codigo y poder usar la app juntos. yo pongo todo aca y no se si lees todas las cosas es mucho texto la verdad

      bueno pongo un video que me gustaria mandarte pero como estamos en 0 contacto lo pongo por aca de momento<br><br>

      despues voy a implementar un login para la pagina por las dudas alla una espectador ajeno, la verdad no se pero por las dudas voy avisandote por aca

    </p>



    <video controls autoplay muted playsinline class="video-amor">
  <source src="assets/video/video.mp4" type="video/mp4">
</video>

<a href="https://open.spotify.com/intl-es/track/5l4Gq3UC0dHKSExIf5xD9N?si=a9e0234c598b4057">Una cancion nueva de gorillaz todavia no entiendo bien lo que dice asi que me da miedo dedicartela jajajaja</a>


<div class="proposal-wrapper">
  <div class="ring-touch" (click)="onRingTap()">
    💍
  </div>

  @if (showProposal) {
    <div class="proposal-overlay" (click)="closeProposal()">
      <div class="proposal-box" (click)="$event.stopPropagation()">
        <h1>¿Querés casarte conmigo?</h1>
        <p>Prometo que vas a ser mi compañera en cada momento</p>
        <button (click)="accept()">Sí 💖</button>
      </div>
    </div>
  }

  <div class="floating-hearts">
  @for (heart of floatingHearts(); track heart.id) {
    <span
      class="heart-float"
      [style.left.%]="heart.x"
      [style.animationDuration.ms]="heart.duration"
    >
      ❤️
    </span>
  }
</div>

    </div>

    <p class="text1">no es la gran cosa cuando apretas porque todavia lo venia trabajando pero pasaron cosas el domingo pero realmente queria que nos vieramos el lunes me arrepiento tanto de haberte contestado tan mal</p>
</div>
</div>
