<header class="home-header">
  <h2>Nuestros momentos</h2>
  <app-navbar></app-navbar>
</header>

<body class="home-body">
  <div>
    Aca va un poco de texto
  </div>

  <div class="escena">
    <div class="carrusel">
      <div class="item"><img src="https://picsum.photos/200/300?random=1" alt="foto1"></div>
      <div class="item"><img src="https://picsum.photos/200/300?random=2" alt="foto2"></div>
      <div class="item"><img src="https://picsum.photos/200/300?random=3" alt="foto3"></div>
      <div class="item"><img src="https://picsum.photos/200/300?random=4" alt="foto4"></div>
      <div class="item"><img src="https://picsum.photos/200/300?random=5" alt="foto5"></div>
      <div class="item"><img src="https://picsum.photos/200/300?random=6" alt="foto6"></div>
    </div>
  </div>
  <section class="seccion-texto">
    <h2>Lo que siento por vos</h2>
  </section>
  <div class="contenedor-cards">

    <div class="card-personalizada">
      <div class="img-container">
        <img src="https://picsum.photos/200/300?random=11" alt="foto">
      </div>
      <div class="card-body">
        <p>Este es un texto mucho más largo para demostrarte que las cards mantienen el tamaño igual, pedazo de desconfiado. Mirá cómo se estira pero no rompe nada.</p>
      </div>
    </div>

    <div class="card-personalizada">
    <div class="img-container">
      <img src="https://picsum.photos/200/300?random=11" alt="foto">
    </div>
    <div class="card-body">
      <p>Este es un texto mucho más largo para demostrarte que las cards mantienen el tamaño igual, pedazo de desconfiado. Mirá cómo se estira pero no rompe nada.</p>
    </div>
  </div>
  
  </div>
</body>
